pandas 
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask
#- e .   #  always put # before e when u pip install requirements
        # it will automatic tigger setup.py, If you frequently modify libraries during development and want the changes to reflect in your project